<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Industrieservice Waldemar Schynol</a> -->
      <%=link_to(image_tag("img/zahnrad-logo.png", width: "100"), '/') %>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item dropdown">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/leistungen" class="dropdown-toggle" data-toggle="dropdown">Leistungen</a>
          <ul class="dropdown-menu">
            <li class="menu-item dropdown">
              <a href="/leistungen#schweissen" class="dropdown-toggle" data-toggle="">Schweißtechnik</a>
            </li>
            <li class="menu-item dropdown">
              <a href="/leistungen#montage" class="dropdown-toggle" data-toggle="">Montage &amp; Demontage</a>
            </li>
            <li class="menu-item dropdown">
              <a href="/leistungen#instand" class="dropdown-toggle" data-toggle="">Instandsetzung</a>
            </li>
            <li class="menu-item dropdown">
              <a href="/leistungen#reparatur" class="dropdown-toggle" data-toggle="">Reparatur &amp; Wartung</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Service</a>
          <ul class="dropdown-menu">
            <li class="menu-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="">Maschinenpark</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Referenzen</a>
          <ul class="dropdown-menu">
            <li class="menu-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="">Kunden</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Qualität</a>
          <ul class="dropdown-menu">
            <li class="menu-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="">Zertifikate</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wir über uns</a>
          <ul class="dropdown-menu">
            <li class="menu-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="">Firmenhistorie</a>
            </li>
            <li class="menu-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="">Unser Team</a>
            </li>
            <li class="menu-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="">Karriere</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/galerie">Bildergalerie</a>
        </li>
        <!-- <li>
          <button class="navbar-btn"><a href="/kontakt">Kontakt</a></button>
        </li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->

<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/kontakt">Kontakt</a>
          </li>
          <li class="footer-menu-divider"></li>
          <li>
            <a href="#">Anfahrt</a>
          </li>
          <li class="footer-menu-divider"></li>
          <li>
            <a href="#">Impressum</a>
          </li>
          <li class="footer-menu-divider"></li>
          <li>
            <a href="#">AGB</a>
          </li>
        </ul>
      </div>
    </div>
  </div>





</nav>