<!-- Page Content -->

<div class="content-section-a">
	<div class="row">
		<div class="col-lg-5 col-sm-6">
			<hr class="section-heading-spacer">
			<div class="clearfix"></div>
			<h2 class="section-heading">Wir sind Ihr Partner für <br>Metallverarbeitung im Ruhrgebiet</h2>
			<p class="lead">
				Oat cake apple pie I love chupa chups. I love applicake wafer fruitcake applicake applicake pie soufflé. Bonbon chocolate tootsie roll cake muffin. Danish I love jelly gummi bears chocolate pudding chocolate cake muffin. Tootsie roll bonbon halvah tart cupcake oat cake pie gingerbread jelly-o. Bonbon applicake liquorice.
			</p>
		</div>
		<div class="col-lg-5 col-lg-offset-2 col-sm-6">
			<img class="img-responsive" src="img/Zerspannungsfacharbeiter.jpg" alt="">
		</div>
	</div>
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Top-Leistungen und ein Service,<br>der sich sehen lassen kann</h2>
				<p class="lead">Oat cake apple pie I love chupa chups. I love applicake wafer fruitcake applicake applicake pie soufflé. Bonbon chocolate tootsie roll cake muffin. Danish I love jelly gummi bears chocolate pudding chocolate cake muffin. Tootsie roll bonbon halvah tart cupcake oat cake pie gingerbread jelly-o. Bonbon applicake liquorice.</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive" src="img/Constructionwork.jpg" alt="">
			</div>
		</div>
	</div>
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Wir schweißen alles für Sie. Garantiert.</h2>
				<p class="lead">Oat cake apple pie I love chupa chups. I love applicake wafer fruitcake applicake applicake pie soufflé. Bonbon chocolate tootsie roll cake muffin. Danish I love jelly gummi bears chocolate pudding chocolate cake muffin. Tootsie roll bonbon halvah tart cupcake oat cake pie gingerbread jelly-o. Bonbon applicake liquorice.</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="img/zahnraeder.jpg" alt="">
			</div>
		</div>
	</div>
</div>
<!-- /.content-section-a -->