---
title: Leistungen
---

<div class="welcome">
  <h1>Unsere Leistungen</h1>
  <ul>
    <li><a href="#schweissen">Schweißtechnik</a></li>
    <li><a href="#montage">Montage &amp; Demontage</a></li>
    <li><a href="#instand">Instandsetzung</a></li>
    <li><a href="#reparatur">Reparatur &amp; Wartung</a></li>
  </ul>
</div><!-- .welcome -->

<!-- Page Content -->

<div class="content-section-a" id="schweissen">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">Schweißtechnik</h2>
      <p class="lead">
        Oat cake apple pie I love chupa chups. I love applicake wafer fruitcake applicake applicake pie soufflé. Bonbon chocolate tootsie roll cake muffin. Danish I love jelly gummi bears chocolate pudding chocolate cake muffin. Tootsie roll bonbon halvah tart cupcake oat cake pie gingerbread jelly-o. Bonbon applicake liquorice.
      </p>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
      <%= image_tag("img/schweissen.jpg", width: "350", class: "img-responsive") %>
    </div>
  </div>
</div>
<!-- /.content-section-a -->

<div class="content-section-b" id="montage">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Montage &amp; Demontage</h2>
        <p class="lead">Oat cake apple pie I love chupa chups. I love applicake wafer fruitcake applicake applicake pie soufflé. Bonbon chocolate tootsie roll cake muffin. Danish I love jelly gummi bears chocolate pudding chocolate cake muffin. Tootsie roll bonbon halvah tart cupcake oat cake pie gingerbread jelly-o. Bonbon applicake liquorice.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag("img/hammer.png", width: "350", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-b -->

<div class="content-section-a" id="instand">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Instandsetzung</h2>
        <p class="lead">Oat cake apple pie I love chupa chups. I love applicake wafer fruitcake applicake applicake pie soufflé. Bonbon chocolate tootsie roll cake muffin. Danish I love jelly gummi bears chocolate pudding chocolate cake muffin. Tootsie roll bonbon halvah tart cupcake oat cake pie gingerbread jelly-o. Bonbon applicake liquorice.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag("img/zahnraeder.jpg", width: "350", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-a -->

<div class="content-section-b" id="reparatur">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Reparatur &amp; Wartung</h2>
        <p class="lead">Oat cake apple pie I love chupa chups. I love applicake wafer fruitcake applicake applicake pie soufflé. Bonbon chocolate tootsie roll cake muffin. Danish I love jelly gummi bears chocolate pudding chocolate cake muffin. Tootsie roll bonbon halvah tart cupcake oat cake pie gingerbread jelly-o. Bonbon applicake liquorice.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag("img/screw.png", width: "350", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-b -->